---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

  <title>Schreiben Sie mir eine Nachricht</title>


{% include header.html %}




<section id="homepage-hero">
	<div class="homepage-wrapper">

	</div>
</section>


{% include nav.html %}


<section id="area1">

	<div class="wrapper-left">



    <img src="/img/briefumschlag.svg" alt="illustration-eines-briefumschlags" width="200px">
		<h1>Konktaktdaten</h1>
		<p>Hier finden Sie meine Kontaktdaten. Jede Anfragen ist selbstverständlich unverbindlich und kostenlos.
		Ich melde mich innerhalb kürzester Zeit bei Ihnen zurück.
    <br><br>
    Falls Sie mir eine E-Mail schicken möchten, nutzen Sie bitte <a href="mailto:lukasz.adms@gmail.com?Subject=Hello%20There!" target="_top">lukasz.adms@gmail.com</a>.
    <br><br>
    Per Telefon erreichen Sie mich unter: <a href="tel:017645839398">0176 45839398.</a>
    <br><br>
    Ich freue mich auf Ihre Nachricht.</p>





	</div>

	<div class="wrapper-right">

		{% include site.html %}

	</div>

</section>





{% include footer.html %}

<script src="/main.js"></script>

</body>
</html>
