---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

  <title>Schreiben Sie mir eine Nachricht [uxffm.com]</title>

 
{% include header.html %}




<section id="homepage-hero">
	<div class="homepage-wrapper">

	</div>
</section>



<nav id="lmenu">

<h3 id="menu" onclick="myFunction()">Menu</h3>


	<ul>

        <a href="/"><li>Home</li></a>
        <a href="/webdesign-frankfurt"><li>Web Design</li></a>
        <a href="/web-entwicklung-frankfurt"><li>Web Development</li></a>
        <a href="/seo-frankfurt"><li>SEO Marketing</li></a>
        <a href="/wordpress-frankfurt"><li>WordPress Webdesign</li></a>
        <a href="/responsive-web-design-frankfurt"><li>Responsive Webdesign</li></a>
        <a href="/kontakt"><li class="active">Kontakt</li></a>

	</ul>
</nav>


<section id="area1">

	<div class="wrapper-left">




		<h1>Konktaktformular</h1>
		<p>Hier können Sie mir eine Nachricht schreiben. Jede Anfragen ist selbstverständlich unvebindlich und kostenlos. Ich melde mich meistens innerhalb kürzester Zeit bei Ihnen zurück. Falls Sie mir direkt eine E-Mail schicken möchten, nutzen Sie bitte lukasz.adms@gmail.com. Ich freue mich auf Ihre Nachricht.</p>

<form action="https://formspree.io/lukasz.adms@gmail.com"
      method="POST">

		<label for="Name">Name</label>
		<input type="text">

		<label for="Name">Email</label>
		 <input type="email" name="_replyto">

		<label for="Name">Nachricht</label>
		<textarea name="textarea" cols="30" rows="10"></textarea>
		
	
		<input type="submit" value="Absenden">
</form>




	</div>

	<div class="wrapper-right">
		
		{% include site.html %}

	</div>

</section>





{% include footer.html %}

<script src="/main.js"></script>

</body>
</html>