---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

  <title>Responsive Web Design Service Frankfurt - uxffm.com</title>

 
{% include header.html %}



<section id="homepage-hero">
	<div class="homepage-wrapper">

	<h1>Mein <span>Responsive Web Design Service</span><br><span class="yellow">Frankfurt am Main</span></h1>
	<img src="/img/logo.svg" alt="mein-logo">


	</div>
</section>


<section id="area1">

	<div class="wrapper-left">

		<h2>Responsive Web Design Freelancing Service</h2>
		<p>Mit meinem Responsive Web Design Service aus Frankfurt, passe ich jeden grafischen Inhalt an die verschiedenen Endgeräte an. 2018 ist das Jahr an dem Google seinen Mobile First Index ausrollt, bedeutet mit anderen Worten: Die mobile Seite ihrer Homepage, wird stärker gewichtet als die Desktop Version. </p>

		<img title="responsive-web-design-frankfurt" src="/img/foto-eines-iPhonex.jpeg" alt="foto-eines-iphonex">

		<p>
		Es spielt keine Rolle ob Sie ein iPhone 5, ein iPhone X, ein Samsung Galaxy S8 oder ein iPad (oder sogar Phablet nutzen). Der Inhalt sollte sich auf jedem Viewport anpassen als wäre er Wasser. Was ich damit meine ist, es spielt keine Rolle wie die Bildschirmauflösung und die Bildschirmbreite ist, die Schrift, die Bilder und der gesamte Inhalt sollte so angepasst werden, dass die Bedienung auf dem Touchscreen genau so einfach ist wie die Bedienung mit Tastatur und Maus. 
		<br><br>
		Damit das funktioniert, nutze ich bei meinem Frankfurter Responsive Webdesign Service sogenannte CSS Media Queries, auch @ Media genannt. Das ist bei der Programmierung sehr wichtig, damit alles auch auf jedem Browser glänzt.
		</p>

		<h2>Mobile First</h2>

		<p>
		Mobile First gehört zu einer oft angewendeten Technik in der Welt des Webdesigns und der Web Entwicklung. Die meisten Webdesigner, beginnen Ihre Arbeit damit, Inhalt auf dem kleinstmöglichen Bildschirm zu erstellen und gestalten. Von dort aus, ist es viel leichter Bilder, Texte & Icons auf einer höhere Bildschirmauflösung anzupassen.
		<br><br>
		Ich nutze als Präprozessor SASS um das Markup für die einzelnen Seiten anzupassen. Mobile First und das Responsive Design werden immer wichtiger. Nicht Zuletzt aufgrund Google’s Mobile First Index. Der Mobile First Index bedeutet auch, dass Inhalt der nicht für Smartphone optimiert ist, in den Suchergebnissen der Suchmaschinen wie Google oder Bing nicht mehr angezeigt wird. Das hat einen riesigen Einfluss auf das SEO Marketing und jemand der mit seiner Seiten ranken möchte, hat ohne eine Smartphone Optimierte Seite schlechte Karten.
		<br><br>
		Mein Responsive Web Design Service beinhaltet:
		</p>

		<ul class="ul-list">
		<li>bestehende Seiten-Anpassung.</li>
		<li>Neuerstellung einer mobile Webseite.</li>
		<li>Fehler für verschiedene Geräte oder browser beheben.</li>
		<li>Alles an den Mobile First Index anpassen.</li>
		</ul>


	</div>

	<div class="wrapper-right">
		
		{% include site.html %}

	</div>

</section>





{% include footer.html %}

<script src="/main.js"></script>

</body>
</html>