---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

  <title>WordPress Webdesign Service Frankfurt - wdcee.com</title>

 
{% include header.html %}



<section id="homepage-hero">
	<div class="homepage-wrapper">

	<h1>Mein <span>WordPress Webdesign Service</span><br><span class="yellow">Frankfurt am Main</span></h1>
	<img src="/img/logo.svg" alt="mein-logo">


	</div>
</section>


<section id="area1">

	<div class="wrapper-left">

		<h2>WordPress Webdesign Freelancing Service</h2>
		<p>Mit meinem Freelancer WordPress Service aus Frankfurt, biete ich Komplettlösungen für WordPress an. Diese Dienstleistung beinhaltet unter anderem den Transfer Ihrer alten Webseite zu einer WordPress Homepage inkl. einer neuen und frischen WordPress Installation, das Lösen von WordPress bekannten & unbekannten WordPress Fehlern, Das Debugging der Programmierung oder einfach nur eine WordPress Anpassung an Ihre Wünsche (z.B. einen Instagram Feed in den Blog einbauen). Daneben kann ich Benutzeroberflächen für ihre WordPress Seite erstellen oder Ihnen mit den vielen verschiedenen WordPress PlugIns helfen.</p>

		<img title="foto-einer-wordpress-programmierung" src="/img/wordpress-programmierung.jpeg" alt="wordpress-programmierung">

		<p>
		WordPress ist ein sehr beliebtes Content Management System. Es funktioniert Open Source und die WordPress Gemeinschaft unterstützt ihre Nutzer und Mitglieder mit vielen hilfreichen Tipps & Tricks wie man neue Funktionen einbaut oder das richtige PlugIn findet. 
		<br><br>
		Mit einer einfachen grafischen Oberfläche können Funktionen dann vom Webseiten Betreiber selbst eingefügt werden. Für solch einen Job bräuchte man normalerweise die Hilfe eines Web Entwicklers. Hinzu kommt, dass man auch den Inhalt selbst verändern kann und das ohne Programmierkenntnisse.
		</p>

		<h2>Häufige WordPress Fehler:</h2>

		<ul class="ul-list">
		<li>Probleme beim Hochladen von Multimedia (Bilder).</li>
		<li>Fehler bei der Einbindung von Social Media (Facebook, Instagram).</li>
		<li>Internal Server Fehler.</li>
		<li>404 Fehler für Artikel oder andere wichtige Seiten.</li>
		<li>E-Mail Versendung funktioniert nicht.</li>
		<li>Server oder Seitenumleitung funktioniert nicht richtig.</li>
		<li>Upload von Themes und Dateien funktioniert nicht.</li>
		<li>BackUp Probleme</li>
		</ul>


		<p>Für solche Fehler gibt es Lösungen, ich helfe Ihnen dabei die richtige Lösung zu finden.</p>


	</div>

	<div class="wrapper-right">
		
		{% include site.html %}

	</div>

</section>





{% include footer.html %}

<script src="/main.js"></script>

</body>
</html>