<nav id="menu" itemscope itemtype="https://schema.org/SiteNavigationElement">

  <a href="/"><h3>uxFFM.com</h3></a>

  <div class="menu-icon" onclick="myFunction()">
  <span></span>
  </div>

  <ul id="ulliste">
    <a href="/">Home</a>
    <div class="dropdown">
      <a class="dropbtn" href="/service">Services</a>

      <div class="dropdown-content">
      <a href="/service/on-page-seo-frankfurt">On-Page SEO</a>
      <a href="/service/off-page-seo-frankfurt">Off-Page SEO</a>
      <a href="/service/conversion-optimierung-frankfurt">Conversion Optimierung</a>
      <a href="/service/google-ads">SEM Marketing</a>
      <a href="/service/wordpress-frankfurt">WordPress SEO</a>
      <a href="/service/responsive-web-design-frankfurt">Smartphone Optimierung</a>
      <a href="/service/web-entwicklung-frankfurt">Webentwicklung</a>
      <a href="/service/webdesign-frankfurt">Webdesign</a>
      </div>


    </div>
    <a href="/kontakt">Kontakt</a>

  </ul>

</nav>
