<img title="barcelona-freelancer" id="port" src="/img/me.jpg" alt="picture-of-me">
		<h2>Lukasz Adam</h2>


		<h2>Wieso mit mir arbeiten?</h2>

		<ul class="liste">
			<li>Ich liebe es Probleme zu lösen.</li>
			<li>Sie bezahlen nicht zu viel.</li>
			<li>Ich kann remote arbeiten als auch in Frankfurt selbst.</li>
			<li>Ich glaube daran, immer die Beste Version zu kreiieren</li>
		</ul>

		<h2>Social Media</h2>
		<p>Tretet Sie kostenlos meiner <a href="https://www.facebook.com/groups/1116837278460772/">Facebook Marketing Gruppe</a> bei und den Traffic ihrer Webseite zu steigern.</p>

		<img src="/img/icon-lukaszadam.png" alt="illustration-vom-Inhaber" width="150px">

		<h2>Kontakt</h2>
		<p>Sie können mir entweder eine Mail schrieben, Social Media nutzen oder das <a href="kontakt">Kontaktformular</a> nutzen.</p>


		<h3 id="email-site">lukasz.adms@gmail.com</h3>
		<a href="https://www.facebook.com/lukaszadamcom/"><img src="/img/facebook.svg" alt="facebook" width="40px"></a>
		<a href="https://twitter.com/lukaszadam_com"><img src="/img/twitter.svg" alt="facebook" width="40px"></a>
		<a href="https://www.instagram.com/lukaszadam_com/"><img src="/img/instagram.svg" alt="facebook" width="40px"></a>